@using System.Data
@using System.Data.SqlClient;
@model System.Data.DataTable




    <div class="link-dark">
        <div>@Html.ActionLink("Add new user", "Save")</div>
    </div>
    <table border="1" class="table" style="margin-top:20px">
        <thead>        
        <tr>
            <td>Id</td>
            <td>User Name</td>
            <td>Email</td>
            <td>Password</td>
        </tr>

        </thead>
        <tbody>
            @foreach (DataRow item in Model.Rows)
            {
                <tr>
                    <td>@item["Id"].ToString()</td>
                    <td>@item["UserName"].ToString()</td>
                    <td>@item["Email"].ToString()</td>
                    <td>@item["Password"].ToString()</td>
                    <td>@Html.ActionLink("Edit", "Edit", new { id = item["Id"].ToString() })</td>
                    <td>@Html.ActionLink("Delete", "Delete", new { id = item["Id"].ToString() })</td>
                </tr>
            }
        </tbody>
    </table>